body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 45px;
}

h1{
    background-color: red;
    font-size: 60px;
    text-transform: uppercase;
}

p {
    color : blue;
}