body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color : red;
    margin: 45px;
}

h1{
    background-color: red;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center; 
}

p {
    color : blue;
}

